<h1>Recipe Survey</h1>

<%= csrf_meta_tag %>
<%= helper_load_recipe @recipe_num %>


<%= form_tag :action => 'parse_client', :method => 'post' do %>
    <ul id="org"></ul>
    <%= submit_tag("Submit") %>
<%end%>

<%= link_to 'Create Rules', path_customize_path_path %>
